<form [formGroup]="filtersForm">
    <div class="row align-items-end">
      <div class="col w-100">
        <label class="form-label">Text:</label>
        <input formControlName="text" type="text" class="form-control" placeholder="Search text">
      </div>
      <div class="col w-100">
        <label class="form-label">Offerte da visualizzare:</label>
        <input formControlName="maxOfferte" type="number" class="form-control" [min]="1">
      </div>
      <div class="col w-100">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
</form>