<div class="container mt-5">
    <div class="row">
        <app-add-zona></app-add-zona>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <h2 class="mb-4">Zones</h2>
            <ng-container *ngIf="(zone$ | async) as zones">
                <div *ngIf="zones.length; else noEvents">
                    <div *ngFor="let zona of zones" class="card mb-3">
                        <app-zona
                        [zona]="zona"
                        ></app-zona>
                    </div>
                </div>
                <ng-template #noEvents>
                    <div class="alert alert-warning" role="alert">
                        No events found.
                    </div>
                </ng-template>
            </ng-container>
        </div>
    </div>
</div>